/* FONTS */
@import "./../fonts/bebasneue/bebasneue.css";
@import "./../fonts/roboto/roboto.css";

/* BASE */
@import "./base/reset.css";
@import "./base/base.css" ;

/* BLOCKS */
@import "./blocks/header.css";
@import "./blocks/section.css";
@import "./blocks/card-trainers.css";
