/* FONTS */
@import "./../fonts/bebasneue/bebasneue.css";
@import "./../fonts/roboto/roboto.css";

/* BASE */
@import "./base/reset.css";
@import "./base/base.css" ;

/* BLOCKS */
@import "./blocks/header.css";
@import "./blocks/section.css";
@import "./blocks/card-trainers.css";
@import "./blocks/section-beast.css";
@import "./blocks/button.css";
@import "./blocks/card-group.css";
@import "./blocks/contacts.css";
@import "./blocks/form.css";
@import "./blocks/footer.css";
