:root {
  --accent: #ffd479;

  --font-base:'Roboto',sans-serif;
  --font-accent: 'Bebas Neue',sans-serif;
}

body {
  background-color: #1F2A32;
  color: #ffffff;

  font-family: var(--font-base);
  font-weight: 300;
}

a {
	color:#fafaf5;

}

/* .title-1 {
  font-family: var(--font-accent);
  font-weight: 700;
  color: var(--accent);
  font-size: 96px;
} */

.container {
  max-width: 1200px;
  width: 100%;

  margin: 0  auto;
  padding: 0 15px;


 }
