.contacts {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 861px;

  background-image: image-set(url("./../../img/form/contact-form-bg.jpg") 1x,
      url("./../../img/form/contact-form-bg@2x.jpg") 2x);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-content {
  max-width: 615px;
}

.contacts-title {
  margin-bottom: 40px;

  font-family: var(--font-accent);
  font-weight: 700;
  font-size: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);
  letter-spacing: 0.06em;
  color: var(--accent);
}

@media (max-width: 800px) {
.contacts {
  padding: 90px 0;

  height: auto;

  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  image-set(url("./../../img/form/contact-form-bg.jpg") 1x,
      url("./../../img/form/contact-form-bg@2x.jpg") 2x);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
}
