.footer {
  padding: 70px 0;
}

.footer-socials {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 50px;

}

.footer a:hover {
  color: var(--accent);
}

.footer-socials-item a:hover {}

.foorer-socials-link:hover {}

.footer-contacts {
  display: flex;
  gap: 50px;

  font-size: 14px;
  line-height: 2;
}

@media (max-width: 600px) {
  .footer {

    padding: 50px 0;

  }

  .footer-socials {
    gap: 30px;

  }

  .footer-contacts {
    flex-direction: column;
    row-gap: 20px;
  }
}