.header {
  padding-top: 30px;
  height: 750px;

  background-image: image-set(
    url("./../../img/hero/hero-bg.jpg") 1x,
    url("./../../img/hero/hero-bg@2x.jpg") 2x
  );

  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.header-row {
display: flex;
justify-content: space-between;
align-items: center;

}

.header-nav {
display: flex;
justify-content: space-between;
align-items:center;
gap:20px 50px;

font-family: var(--font-accent);
font-weight: 700;
letter-spacing: 3px;
}

.header-nav a:hover {
	transition: color 0.2s ease-in;
}

.header-nav a:hover {
	color: var(--accent);
}

.header-image {
	padding-top: 125px;
	text-align: right;
}

@media (max-width: 800px) {
	.header-logo {
		display: none;
	}

	.header-row {
		justify-content: center;
		padding-top: 30px;
	}

	.header-image {
		text-align: center;
	}
}

@media (max-width: 600px) {
	.header {
		height: auto;
		padding-bottom: 60px;
		background-position: center top;
	}

	.header-logo {
		display: block;
	}

	.header-row {
		flex-direction: column;
		justify-content: center;
		row-gap: 40px;
	}

	.header-nav {
		flex-direction: column;
		font-size: 26px;
	}

	.header-image {
		display: none;
	}
}
