.section {
  padding: 150px 0;
}

.section-header {
  margin: 0 auto;
  margin-bottom: 50px;
  
  max-width: 800px;
  width: 100%;

  text-align: center;
}

.section-title {
  font-family: var(--font-accent);
  font-weight: 700;
  color: var(--accent);
  /* font-size: 96px; */
  
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem); /* значение для font-size вычисляем через калькулятор min-max-calculator.9elements.com оно будет менять от 48px до 96px*/
  letter-spacing: 0.08em;
}

.section-description {
  font-size: 16px;
  line-height: 2;
}

.section-trainers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 30px;
}

.section-groups-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 105px 32px;
}

@media (max-width: 800px) {
  .section {
    padding: 100px 0;
  }

  .section-trainers-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .section {
    padding: 80px 0;
  }

  .section-header {
    margin-bottom: 30px;
  }

  .section-description {
  font-size: 14px;
}

  .section-trainers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}